<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../assets/img/tabLogo.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="preload" as="image" href="../assets/img/preloaders/contact-preloader.gif" />
    <link rel="preload" as="image" href="../assets/img/LOGO__-02.jpg" />
    <link rel="preload" as="image" href="https://i.ibb.co/DDzC1mn/road-contact-1097184316.jpg" />
    <!--reCAPTCHA-->
    <script src="https://www.google.com/recaptcha/api.js?render=6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi"></script>
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,900&family=Hind+Madurai:wght@300;400;500;700&family=Montserrat:ital,wght@0,100;0,400;1,100;1,300;1,800;1,900&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--SEO-->
    <meta name="description" content="Get It Logistics brings a full suite of services to the table to help you with business growth, from computer bank life cycle, repairs and securely erasing data, to delivering or retrieving your goods or simply storing your assets with us until there's a need for them. ">
    <meta name="keywords" content="Logistics, Delivering, Warehouse, warehousing, Data wipe, Rush Orders, Kitted, kitting, get it logistics">
    <meta property="og:title" content="Get IT Logistics | Get IT Done.">
    <meta property="og:image" content="../assets/img/tabLogo.png">
    <meta property="og:locale" content="en_US">
    <title>Contact | Get IT Logistics</title>
</head>
<body class="body_contact">
    <div id="preloader-3"></div>
    <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid d-lg-flex">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/img/TRANSPARENTBGPNG__-02-06.png" class="logo" alt="Get It Logistics Logo">
                    </a>
                    <form class="d-lg-flex">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </form>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav text-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <main class="main-contact-cont">
        <div class="small-12 medium-9 large-7 columns nopad main-contact">
            <div class="text-contact">
                <div class="text-container">
                    <h1 class="section-header">Contact</h1>
                    <p class="contact-p">
                        To learn more about Get It Logistics, visit our  <a href="./services.html">Services<svg viewBox="0 0 70 36"><path d="M6.9739 30.8153H63.0244C65.5269 30.8152 75.5358 -3.68471 35.4998 2.81531C-16.1598 11.2025 0.894099 33.9766 26.9922 34.3153C104.062 35.3153 54.5169 -6.68469 23.489 9.31527" /> </svg></a> page.  Questions or comments? Fill  in the contact form and we'll get back to you soon!
                    </p>   
                </div>  
            </div>
            <img src="https://i.ibb.co/DDzC1mn/road-contact-1097184316.jpg" alt="Road picture" no-repeat center center class="contact-img">
            <!--scroll down-->
            </div>
            <div class="container-cont">
                <a href="#contact">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                </a>
            </div>
            <!--end scroll down-->
            <section id="contact">
            <div class="contact-wrapper">
            <!-- Left contact page --> 
                <form id="contact-form" class="form-horizontal"  role="form" action="https://formspree.io/f/xwkyzzga"
                method="POST">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span id="name-error"></span>
                        <input type="text" class="form-control js-input" id="name" placeholder="Name" name="name" value="" required id="contact-name" onkeyup="validateName()">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span id="email-error"></span>
                        <input type="email" class="form-control js-input" id="email" placeholder="Email" name="email" value="" required id="contact-email" onkeyup="validateEmail()">
                        </div>
                    </div>
                    <span id="message-error"></span>
                    <textarea class="form-control js-input" rows="3" placeholder="Message" name="message" required id="textarea-bottom" id="contact-message" onkeyup="validateMessage()"></textarea>
                    <!--reCAPTCHA-->
                        <div class="g-recaptcha" data-sitekey="6LckFwAfAAAAAJpi_PR38ja0B3yUPybGbv024smX" data-callback="recaptcha_callback"></div>
                    <!--Button-->
                    <button class="btn btn-primary send-button" class="g-recaptcha" disabled  data-sitekey="6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi" data-callback='onSubmit' data-action='submit' id="submit" type="submit" value="SEND" data-bs-toggle="modal" data-bs-target="#exampleModal0">
                        <div class="alt-send-button">
                        <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                        </div>
                    </button>
                </form>
                                <!-- Modal 0-->
                                <div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <img loading="lazy" src="../assets/img/thankyou.jpg" class="thankyou" alt="thank you for contacting us">
                                        </div>
                                    </div>
                                    </div>
                                </div>
            <!-- Left contact page --> 
                <div class="direct-contact-container">
                    <hr>
                    <ul class="contact-list">
                    <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place"> <a href="https://www.google.com/maps/place/Flower+Mound,+TX,+USA/@33.0364931,-97.1659701,13z/data=!3m1!4b1!4m5!3m4!1s0x864c2c1c0283f549:0xf29e386c33d3f977!8m2!3d33.0145673!4d-97.0969552" target="_blank">Flower Mound, Texas</a></span></i></li>
                    <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">hi@getitlogistics.com
                    </a></span></i></li>
                    </ul>
                    <hr>
                </div>
            </div>
        </section>
        <input type="hidden" name="token_generate" id="token_generate">
    </main>
    <footer class="footer">
        <p>Copyright &copy 2022 Get It Logistics | All Rights Reserved.</p>
    </footer>
        <!-- partial -->
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script  src="./script.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../assets/main.js"></script>
        <script>
            function recaptcha_callback() {
                var registerBtn = document.querySelector('#submit');
                registerBtn.removeAttribute('disabled');
                registerBtn.style.cursor = 'pointer';
            }
    </script>
    <script>
        var loader = document.getElementById('preloader-3');
        window.addEventListener('load' , function(){
            loader.style.display = "none";
        })
    </script>
    <script>
        $('.order').click(function(e) {

        let button = $(this);

        if(!button.hasClass('animate')) {
            button.addClass('animate');
            setTimeout(() => {
                button.removeClass('animate');
            }, 10000);
        }
        });
    </script>
    <script>
        $( '.js-input' ).keyup(function() {
            if( $(this).val() ) {
                $(this).addClass('not-empty');
            } else {
                $(this).removeClass('not-empty');
            }
        });
    </script>
    <!--reCAPTCHA-->
    <script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
        grecaptcha.execute('6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi', {action: 'submit'}).then(function(token) {
            // Add your logic to submit to your backend server here.
            var response = document.getElementById('token_generate');
            response.value = token;
        });
        });
    }
</script>
<script>
    const $form = document.querySelector('#contact-form');
    $form.addEventListener('submit', handleSubmit)

    async function handleSubmit(event) {
        event.preventDefault()
        const form = new FormData (this)
        const response = await fetch (this.action,{
            method: this.method,
            body: form,
            headers: {
                'Accept' : 'aplication/json'
            }
        })
        if (response.ok) {
            this.reset()
        }
    }
</script>
<script>
    document.querySelector('#contact-form').addEventListener('submit', (e) => {
        e.preventDefault();
        e.target.elements.name.value = '';
        e.target.elements.email.value = '';
        e.target.elements.message.value = '';
    });
</script>
</body>
</html>  