<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../assets/img/tabLogo.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="preload" as="image" href="" />
    <!--reCAPTCHA-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,900&family=Hind+Madurai:wght@300;400;500;700&family=Montserrat:ital,wght@0,100;0,400;1,100;1,300;1,800;1,900&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--SEO-->
    <meta name="description" content="Sumérgete en el apasionado mundo de Marcia DM, donde vivirás historias llenas de aventuras, giros inesperados y romance intenso. Puedes encontrar libros con temáticas desde romance contemporáneo, hasta romance paranormal.">
    <meta name="keywords" content="libros de romance, libros, romance, amantes, enemigos, de enemigos a amantes, romance bully,  reseñas, erotico, lectura, contacto, amor, libro paranormal, rivales en dallas, amor y odio en manhattan, resiliencia, rage, carter, contemporaneo, romance intenso, aventuras, bestseller, kindle, kindleunlimited, contemporaneo, friends to lovers, amigos a amantes, silver wolf">
    <meta property="og:title" content="Get IT Logistics | Get IT Done.">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Get IT Logistics" />
    <meta property="og:image" content="https://i.ibb.co/Vq4cDpd/navlogo.png">
    <meta property="og:locale" content="en_US">
    <title>Contact | Get IT Logistics</title>
</head>
<body class="body_contact">
    <div id="preloader-3"></div>
    <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid d-lg-flex">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/img/TRANSPARENTBGPNG__-02-06.png" class="logo" alt="Get It Logistics Logo">
                    </a>
                    <form class="d-lg-flex">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </form>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav text-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <main>
        <div class="small-12 medium-9 large-7 columns nopad main-contact">
            <div class="text-contact">
                <div class="text-container">
                    <h1 class="section-header">Contact</h1>
                    <p class="contact-p">
                        To learn more about Get It Logistics, visit our  <a href="./services.html">Services<svg viewBox="0 0 70 36"><path d="M6.9739 30.8153H63.0244C65.5269 30.8152 75.5358 -3.68471 35.4998 2.81531C-16.1598 11.2025 0.894099 33.9766 26.9922 34.3153C104.062 35.3153 54.5169 -6.68469 23.489 9.31527" /> </svg></a> page.  Questions or comments? Fill  in the contact form and we'll get back to you soon!
                    </p>   
                </div>  
            </div>
            <img src="https://costar.brightspotcdn.com/c6/3b/1708dbef40c1b436bcd36f72d8f6/gettyimages-1097184316.jpg" alt="" no-repeat center center class="contact-img">
            <!--scroll down-->
            </div>
            <div class="container-cont">
                <a href="#contact">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                </a>
            </div>
            <!--end scroll down-->
            <section id="contact">

            <div class="contact-wrapper">

            <!-- Left contact page --> 
                
                <form id="contact-form" class="form-horizontal" role="form">
                    
                <div class="form-group">
                    <div class="col-sm-12">
                    <input type="text" class="form-control js-input" id="name" placeholder="NAME" name="name" value="" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                    <input type="email" class="form-control js-input" id="email" placeholder="EMAIL" name="email" value="" required>
                    </div>
                </div>

                <textarea class="form-control js-input" rows="10" placeholder="MESSAGE" name="message" required></textarea>

                    <div class="g-recaptcha" data-sitekey="6LckFwAfAAAAAJpi_PR38ja0B3yUPybGbv024smX"></div>
                
                <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                    <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                    </div>
                
                </button>
                
                </form>
                
            <!-- Left contact page --> 
                
                <div class="direct-contact-container">
                    
                    <hr>
                    <ul class="contact-list">
                    <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Flower Mound, Texas</span></i></li>
                    
                    <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>
                    
                    <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">getitlogistics@gmail.com</a></span></i></li>
                    
                    </ul>


                    <hr>
                </div>
            </div>

        </section>
    </main>
    <footer>
        <p>Copyright &copy 2022 Get It Logistics | All Rights Reserved.</p>
    </footer>
        <!-- partial -->
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script  src="./script.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../assets/main.js"></script>
    <script>
        var loader = document.getElementById('preloader-3');
        window.addEventListener('load' , function(){
            loader.style.display = "none";
        })
    </script>

    <script>
        $('.order').click(function(e) {

        let button = $(this);

        if(!button.hasClass('animate')) {
            button.addClass('animate');
            setTimeout(() => {
                button.removeClass('animate');
            }, 10000);
        }
        });
    </script>

    <script>
                $( '.js-input' ).keyup(function() {
        if( $(this).val() ) {
            $(this).addClass('not-empty');
        } else {
            $(this).removeClass('not-empty');
        }
        });
    </script>
</body>
</html>  