<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../assets/img/tabLogo.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" href="../assets/style.css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    <link rel="preload" as="image" href="../assets/img/preloaders/preloader.gif" />
    <link rel="preload" as="image" href="../assets/img/LOGO__-02.jpg" />
    <link rel="preload" as="image" href="../assets/img/pictures/deliver.jpg" />
    <link rel="preload" as="image" href="../assets/img/preloaders/rush.gif" />
    <link rel="preload" as="image" href="../assets/img/preloaders/animation_300_l45yk2r8.gif" />
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,900&family=Hind+Madurai:wght@300;400;500;700&family=Montserrat:ital,wght@0,100;0,400;1,100;1,300;1,800;1,900&display=swap" rel="stylesheet">
    <!--FOOTER ICONS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--LINK AOS EFFECTS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--contact ICONS-->
    <script src="https://kit.fontawesome.com/dc0fdf8d55.js" crossorigin="anonymous"></script>
    <!--reCAPTCHA-->
    <script src="https://www.google.com/recaptcha/api.js?render=6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi"></script>
    <!--SEO-->
    <meta name="description" content="Get It Logistics brings a full suite of services to the table to help you with business growth, from computer bank life cycle, repairs and securely erasing data, to delivering or retrieving your goods or simply storing your assets with us until there's a need for them. ">
    <meta name="keywords" content="Logistics, Delivering, Warehouse, warehousing, Data wipe, Rush Orders, Kitted, kitting, get it logistics">
    <meta property="og:title" content="Get IT Logistics | Get IT Done.">
    <meta property="og:image" content="../assets/img/tabLogo.png">
    <meta property="og:locale" content="en_US">
    <title>Get IT Delivered | Get IT Logistics</title>
</head>
<body>
    <div id="preloader"></div>
    <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid d-lg-flex">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/img/TRANSPARENTBGPNG__-02-06.png"  class="logo" alt="Get It Logistics Logo">
                    </a>
                    <form class="d-lg-flex">
                        <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </form>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav text-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <main>
        <div class="main-container-service">
            <div class="main-img-service2"  data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
            </div>
        </div>
        <div class="main-title-service">
            <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                <span class="span-service">Get IT</span> <br> Delivered
            </h1>
        </div>
        <div class="paragraphs">
            <article class="info-services" >
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                    You have more important things to do, trust us, we <span class="blue-letters">Get It</span>. While you focus on making your business grow, we'll do the heavy lifting when it comes to delivering your assets. 
                </p>
            </article>
            <article class="info-services">
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                    This service is oriented to shipping, receiving and handling of your goods, using top of the line courier services available in the US, such as FedEx and UPS.
                </p>
            </article>
        </div>
        <hr class="divition-hr">
        <h2 class="adicional-title" data-aos="fade-right" data-aos-duration="1000"data-aos-once="true">Additional Services<br><span class="adicional-title-span">You Might Enjoy</span></h2>
            <div class="div-rush">
                <h2 class="rush-title" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">Rush Orders</h2>
                <article class="info-services-rush">
                    <p data-aos="fade-up" data-aos-duration="1000"data-aos-once="true">
                        Deadlines. We all have them. But with us you don't have to dread them anymore. Whenever you are facing a tight delivery date or just want to impress someone, all the services we provide to you have the option of being serviced overnight to get your package there the next business day. Just let us know and we’ll rush it for you.
                    </p>
                </article>
                <img src="../assets/img/preloaders/rush.gif" data-aos="fade-left" data-aos-once="true" data-aos-duration="1000" class="rush-icon" width="35%" alt="24 hour delivery gif">
            </div>
            <div class="div-track">
                <h2 class="track-title" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">Tracking</h2>
                <article class="info-services-track">
                    <p data-aos="fade-up" data-aos-duration="1000"data-aos-once="true">
                        The Get It Logistics tracking system uses the advanced equipment for 24/7 monitoring of all goods and vehicles. The customer can check the shipping status and location at any time with the tracking number we provide. Our System allows for freight booking and delivery tracking, as well as for the order status monitoring.
                    </p>
                </article>
                <img src="../assets/img/preloaders/animation_300_l45yk2r8.gif" data-aos="fade-left" data-aos-once="true" data-aos-duration="1000" class="track-icon" width="30%" alt="24 hour delivery gif">
            </div>
        <div>
        </div>
        <hr class="divition-hr">
            <h3 class="contact-service">Let's Get In Touch</h3>
                <div class="contact-form_service">
                    <form id="form" role="form" action="https://formspree.io/f/xwkyzzga"
                    method="POST">
                        <span id="name-error"></span>
                        <input type="text" name="name" data-callback="obligatory-call" class="form-control" placeholder="Full Name" required id="contact-name" onkeyup="validateName()">
                        <span id="email-error"></span>
                        <input type="text" name="email" data-callback="obligatory-call" class="form-control" placeholder="E-mail" required id="contact-email" onkeyup="validateEmail()">
                        <span id="message-error"></span>
                        <textarea name="message" data-callback="obligatory-call" id="contact-message" class="form-control" cols="50" rows="2" placeholder="Message" required id="contact-message" onkeyup="validateMessage()"></textarea>
                        <!--BUTTON-->
                        <button id="register-btn"  onclick="return validateForm()" class="order" class="g-recaptcha" data-sitekey="6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi" data-callback='onSubmit' data-action='submit' type="submit" ><span class="default">Send IT</span><span class="success">Sent!
                            <svg viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg></span>
                        <div class="box"></div>
                        <div class="truck">
                            <div class="back"></div>
                            <div class="front">
                            <div class="window"></div>
                            </div>
                            <div class="light top"></div>
                            <div class="light bottom"></div>
                        </div>
                        <div class="lines"></div>
                        </button>
                    </form>
            <input type="hidden" name="token_generate" id="token_generate">
        </div>
    </main>
    <footer>
        <p>Copyright &copy 2022 Get It Logistics | All Rights Reserved.</p>
    </footer>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="./script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var loader = document.getElementById('preloader');
        window.addEventListener('load' , function(){
            loader.style.display = "none";
        })
    </script>
    <script>
            AOS.init();
    </script>
    <script>
    $('.order').click(function(e) {
    
    let button = $(this);
    
    if(!button.hasClass('animate')) {
        button.addClass('animate');
        setTimeout(() => {
            button.removeClass('animate');
        }, 10000);
    }
    
    });
    </script>
    <!--reCAPTCHA-->
    <script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
                grecaptcha.execute('6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi', {action: 'submit'}).then(function(token) {
                    // Add your logic to submit to your backend server here.
                    var response = document.getElementById('token_generate');
                    response.value = token;
                });
            });
        }
    </script>
    <script>
        const $form = document.querySelector('#form');

        $form.addEventListener('submit', handleSubmit)

        async function handleSubmit(event) {
            event.preventDefault()
            const form = new FormData (this)
            const response = await fetch (this.action,{
                method: this.method,
                body: form,
                headers: {
                    'Accept' : 'aplication/json'
                }
            })
            if (response.ok) {
                this.reset()
            }
        }
    </script>
    <script>
        var nameError = document.getElementById('name-error');
        var emailError = document.getElementById('email-error');
        var messageError = document.getElementById('message-error');

        function validateName(){
        var name = document.getElementById('contact-name').value;

        if(name.lenght == 0){
            nameError.innerHTML = 'Full name is required'
            return false;
        }
        if(!name.match(/^[A-Za-z]*\s{1}[A-Za-z]*$/)){
            nameError.innerHTML = 'Full name is required'
            return false;
        }
        nameError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
        return true;
        }

        function validateEmail(){
            var email = document.getElementById('contact-email').value;

            if(email.lenght == 0){
                emailError.innerHTML = 'Email is required'
                return false;
            }
            if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
                emailError.innerHTML = 'Invalid Email'
                return false;
            }
            emailError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
            return true;
        }
        function validateMessage(){
            var message = document.getElementById('contact-message').value;

            if(message == 0){
                messageError.innerHTML = 'Message is required';
                return false;
            }else{
                if(message.lenght < 30){
                    MessageError.innerHTML = 'Message is required'
                    return false;
                }
            }
            messageError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
                return true;
        }
    </script>
</body>
</html>