<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../assets/img/tabLogo.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" href="../assets/style.css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    <link rel="preload" as="image" href="" />
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,900&family=Hind+Madurai:wght@300;400;500;700&family=Montserrat:ital,wght@0,100;0,400;1,100;1,300;1,800;1,900&display=swap" rel="stylesheet">
    <!--FOOTER ICONS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--LINK AOS EFFECTS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--contact ICONS-->
    <script src="https://kit.fontawesome.com/dc0fdf8d55.js" crossorigin="anonymous"></script>
    <!--reCAPTCHA-->
    <script src="https://www.google.com/recaptcha/api.js?render=6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi"></script>
    <!--SEO-->
    <meta name="description" content="Sumérgete en el apasionado mundo de Marcia DM, donde vivirás historias llenas de aventuras, giros inesperados y romance intenso. Puedes encontrar libros con temáticas desde romance contemporáneo, hasta romance paranormal.">
    <meta name="keywords" content="libros de romance, libros, romance, amantes, enemigos, de enemigos a amantes, romance bully,  reseñas, erotico, lectura, contacto, amor, libro paranormal, rivales en dallas, amor y odio en manhattan, resiliencia, rage, carter, contemporaneo, romance intenso, aventuras, bestseller, kindle, kindleunlimited, contemporaneo, friends to lovers, amigos a amantes, silver wolf">
    <meta property="og:title" content="Get IT Logistics | Get IT Done.">
    <meta property="og:image" content="https://ibb.co/XJnFd5C">
    <meta property="og:locale" content="en_US">
    <title>Get IT Kitted | Get IT Logistics</title>
</head>
<body>
    <div id="preloader-2"></div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container-fluid d-lg-flex">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/TRANSPARENTBGPNG__-02-06.png"  class="logo" alt="Get It Logistics Logo">
                </a>
                <form class="d-lg-flex">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </form>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./services.html">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
    <main>
        <div class="main-container-service">
            <div class="main-img-service4" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
            </div>
        </div>
        <div class="main-title-service">
            <h1 data-aos="fade-up" data-aos-duration="2500" data-aos-once="true">
                <span class="span-service">Get IT</span><br>Kitted
            </h1>
        </div>
        <div class="paragraphs">
            <article class="info-services" >
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                    Nowadays companies are aiming to deliver an impactful first impression by adding gifts and SWAG for their new hires and get those goodies delivered in as few packages as possible on their first day.
                </p>
            </article>
            <article class="info-services">
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                    Does this sound like you? We got you covered with our kitting services. Just tell us what you want, how and when you want it and we make it happen.
                </p>
            </article>
        </div>
        <hr class="divition-hr">
        <h2 class="adicional-title">Additional Services<br><span class="adicional-title-span">You Might Enjoy</span></h2>
        <div class="div-rush">
            <h2 class="rush-title" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">Delivering</h2>
            <article class="info-services-rush">
                <p data-aos="fade-up" data-aos-duration="1000"data-aos-once="true">
                    You have more important things to do. While you focus on making your business grow, we'll do the heavy lifting when it comes to delivering your assets. This service is oriented to shipping, receiving and handling of your goods, using top of the line courier services available in the US, such as FedEx and UPS.
                </p>
            </article>
            <img src="../assets/img/preloaders/deliver-gif.gif" data-aos="fade-left" data-aos-once="true" data-aos-duration="1000" class="rush-icon" width="35%" alt="24 hour delivery gif">
        </div>
        <div class="div-track">
            <h2 class="track-title" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">Warehousing</h2>
            <article class="info-services-track">
                <p data-aos="fade-up" data-aos-duration="1000"data-aos-once="true">
                    With an ever growing demand and chip shortages not going away anytime soon, we share the idea of being ready by stocking up beforehand then <span class="blue-letters">Get It</span> out the door when needed. Stop using your premium real estate office space as a shelter for boxes and let us take them off your hands. We provide the opportunity to warehouse your assets with us.
                </p>
            </article>
            <img src="../assets/img/preloaders/warehoused-preloader.gif" data-aos="fade-left" data-aos-once="true" data-aos-duration="1000" class="track-icon" width="25%" alt="warehouse gif">
        </div>
        <hr class="divition-hr">
        <h3 class="contact-service">Let's Get In Touch</h3>
        <div class="contact-form_service">
            <form id="contact-form_service" method="POST" action="">
                <span id="name-error"></span>
                <input type="text" name="name" class="form-control" placeholder="Full Name" required id="contact-name" onkeyup="validateName()">
                <span id="email-error"></span>
                <input type="text" name="email" class="form-control" placeholder="E-mail" required id="contact-email" onkeyup="validateEmail()">
                <input type="text" name="subject" class="form-control" placeholder="Subject" required id="contact-subject" onkeyup="validateSubject()">
                <span id="message-error"></span>
                <textarea name="message" id="contact-message" class="form-control" cols="50" rows="2" placeholder="Message" required id="contact-message" onkeyup="validateMessage()"></textarea>
                <!--BUTTON-->
                <button class="order" class="g-recaptcha" data-sitekey="6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi" data-callback='onSubmit' data-action='submit'><span class="default">Send IT</span><span class="success">Sent!
                    <svg viewbox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg></span>
                <div class="box"></div>
                <div class="truck">
                    <div class="back"></div>
                    <div class="front">
                    <div class="window"></div>
                    </div>
                    <div class="light top"></div>
                    <div class="light bottom"></div>
                </div>
                <div class="lines"></div>
                </button>
            </form>
            <input type="hidden" name="token_generate" id="token_generate">
        </div>
    </main>
    <footer>
        <p>Copyright &copy 2022 Get It Logistics | All Rights Reserved.</p>
    </footer>   
    <script src="../assets/main.js"></script>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="./script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var loader = document.getElementById('preloader-2');
        window.addEventListener('load' , function(){
            loader.style.display = "none";
        })
    </script>
        <script>
            AOS.init();
        </script>
            <script>
                $('.order').click(function(e) {
        
        let button = $(this);
        
        if(!button.hasClass('animate')) {
            button.addClass('animate');
            setTimeout(() => {
                button.removeClass('animate');
            }, 10000);
        }
        
        });
            </script>
            <!--reCAPTCHA-->
        <script>
            function onClick(e) {
            e.preventDefault();
            grecaptcha.ready(function() {
                grecaptcha.execute('6LfGD1EgAAAAAFBSnZ-eUJuSdVSecWVfBuOQNnDi', {action: 'submit'}).then(function(token) {
                    // Add your logic to submit to your backend server here.
                    var response = document.getElementById('token_generate');
                    response.value = token;
                });
            });
            }
        </script>
        <script>
            var nameError = document.getElementById('name-error');
            var emailError = document.getElementById('email-error');
            var messageError = document.getElementById('message-error');
    
            function validateName(){
            var name = document.getElementById('contact-name').value;
    
            if(name.lenght == 0){
                nameError.innerHTML = 'Full name is required'
                return false;
            }
            if(!name.match(/^[A-Za-z]*\s{1}[A-Za-z]*$/)){
                nameError.innerHTML = 'Full name is required'
                return false;
            }
            nameError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
            return true;
            }
    
            function validateEmail(){
                var email = document.getElementById('contact-email').value;
    
                if(email.lenght == 0){
                    emailError.innerHTML = 'Email is required'
                    return false;
                }
                if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
                    emailError.innerHTML = 'Invalid Email'
                    return false;
                }
                emailError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
                return true;
            }
    
            function validateMessage(){
                var message = document.getElementById('contact-message').value;
                var required = 30;
                var left = required - message.lenght;
    
                if(message.lenght == 0){
                    emailError.innerHTML = 'Email is required'
                    return false;
                }
    
                if (left > 0) {
                    messageError.innerHTML = left + 'More characters are required';
                    return false;
                }
                messageError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
                return true;
            }
    
        </script>
</body>
</html>