<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../assets/img/tabLogo.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" href="../assets/style.css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preload" as="image" href="../assets/img/pictures/deliver.jpg" />
    <link rel="preload" as="image" href="../assets/img/pictures/warehouse.jpg" />
    <link rel="preload" as="image" href="../assets/img/pictures/retrieve.jpg" />
    <link rel="preload" as="image" href="../assets/img/pictures/kitted.jpg" />
    <link rel="preload" as="image" href="../assets/img/pictures/wiped.jpg" />
    <link rel="preload" as="image" href="../assets/img/LOGO__-02.jpg" />
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,900&family=Hind+Madurai:wght@300;400;500;700&family=Montserrat:ital,wght@0,100;0,400;1,100;1,300;1,800;1,900&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--SEO-->
    <meta name="description" content="Get It Logistics brings a full suite of services to the table to help you with business growth, from computer bank life cycle, repairs and securely erasing data, to delivering or retrieving your goods or simply storing your assets with us until there's a need for them. ">
    <meta name="keywords" content="Logistics, Delivering, Warehouse, warehousing, Data wipe, Rush Orders, Kitted, kitting, get it logistics">
    <meta property="og:title" content="Get IT Logistics | Get IT Done.">
    <meta property="og:image" content="../assets/img/tabLogo.png">
    <meta property="og:locale" content="en_US">
    <title>Services | Get IT Logistics</title>
</head>
<body class="background-grid">
  <div id="preloader"></div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
            <div class="container-fluid d-lg-flex">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/TRANSPARENTBGPNG__-02-06.png"  class="logo" alt="Get It Logistics Logo">
                </a>
                <form class="d-lg-flex">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </form>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
      <div class="container-item1">
          <div class="img-abstract" data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
              <section class="section-services">
                <h1 class="services-title" >
                  Range Of Services
                </h1>
                  <p class="services-p-item">
                    Our company brings a full suite of services to the table to help you with business growth, from computer bank life cycle, repairs and securely erasing data to simply storing your assets with us until there's a need for them or the distribution of your goods. 
                  </p>
                  <a href="#scroll-services">
                    <div class="scroll-downs">
                      <div class="mousey">
                        <div class="scroller"></div>
                      </div>
                    </div>
                  </a>
              </section>
            </div>
          </div>
          <div class="container-cards" id="scroll-services">
                    <div class="band">
                      <div class="item-1">
                            <a href="./delivered.html" class="card" style="background-image: url(https://i.ibb.co/LSynXTZ/deliver.jpg);">
                              <div class="thumb" ></div>
                                <h1 class="main-title-card"> <span class="get-it">Get IT</span><br>Delivered</h1>
                            </a>
                      </div>
                      <div class="item-1">
                        <a href="./storaged.html" class="card" style="background-image: url(https://i.ibb.co/PG0HtLS/warehouse.jpg);">
                          <div class="thumb"></div>
                            <h1 class="main-title-card"><span class="get-it">Get IT</span><br>Warehoused</h1>
                        </a>
                        </div>
                      <div class="item-1">
                        <a href="./retrieved.html" class="card" id="prueba" style="background-image: url(https://i.ibb.co/ySKhSkR/ezgif-com-gif-maker.jpg);">
                          <div class="thumb"></div>
                            <h1 class="main-title-card"><span class="get-it">Get IT</span><br>Retrieved</h1>
                        </a>
                      </div>
                      <div class="item-1">
                        <a href="./kitted.html" class="card"style=" background-image: url(https://i.ibb.co/JxqBCHc/kitted.jpg);">
                          <div class="thumb" ></div>
                            <h1 class="main-title-card"><span class="get-it">Get IT</span><br>Kitted</h1>
                        </a>
                      </div>
                      <div class="item-1">
                        <a href="./wiped.html" class="card"  style="background-image: url(https://i.ibb.co/Dp8Nmc7/wiped.jpg);">
                          <div class="thumb"></div>
                            <h1 class="main-title-card"><span class="get-it">Get IT</span><br>Wiped</h1>
                        </a>
                      </div>
                </div>
        </div>  
    </main>
    <footer>
      <p>Copyright &copy 2022 Get It Logistics | All Rights Reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      var loader = document.getElementById('preloader');
      window.addEventListener('load' , function(){
          loader.style.display = "none";
      })
      </script>
      <script>
        function bgChanger() {
          if(this.scrollY > this.innerHeight / 1.5){
            document.body.classList.add("bg-active");
          }else{
            document.body.classList.remove("bg-active");
          }
        }
        window.addEventListener("scroll", bgChanger);
      </script>
</body>
</html>