*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}

/*-----VARIABLES-----*/

:root {
    --main-padding: 20.6vw 5vw;
    --color-black: #23272a; 
    --color-black2: #181818;
    --color-black3: #191919;
    --color-blue:#0071bb;
    --color-lightblue:#2cbbf2;
    --color-lightblue2:#16b4f0;
    --font-family-title: 'Montserrat', sans-serif;
    --font-family-subtitle: 'Fira Sans', sans-serif;
    --font-family-text: 'Hind Madurai', sans-serif;
    --primary: #275EFE;
    --primary-light: #7699FF;
    --dark: #1C212E;
    --grey-dark: #3F4656;
    --grey: #6C7486;
    --grey-light: #CDD9ED;
    --white: #FFF;
    --sand: #DCB773;
    --sand-light: #EDD9A9;
    --line-active: #0071bb;
}

/*-----PRELOADERS-----*/

#preloader{ /*index*/
    background:white url(../assets/img/preloaders/preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 105vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -4vh;
}

#preloader-2{ /*kitted*/
    background:white url(../assets/img/preloaders/kitted.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#preloader-3{ /*contact*/
    background:white url(../assets/img/preloaders/contact-preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#preloader-4{ /*wiped*/
    background:white url(../assets/img/preloaders/wiped-preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#preloader-5{ /*warehoused*/
    background:white url(../assets/img/preloaders/warehoused-preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*-----NAVBAR-----*/

.navbar{
    font-family:var(--font-family-text);
    font-size: 1.2vw;
    letter-spacing: 2.5px;
    margin: 1.6vw;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--color-black2);
}

.container-fluid.d-lg-flex{
    background-color: rgba(255, 255, 255, 0.088);
    padding: 0.7vw;
    border-radius: 2em;
}

.logo{
    width: 10vw;
}

/*-----INDEX-----*/

.pic{
    background: url(../assets/img/prueba2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
}

.container{
    max-width: 80vw;
    width: 100%;
    margin:auto;
}

.home{
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.home::before{
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home .home-text{
  position: relative;
  z-index: 2;
  font-family: var(--font-family-title);
  font-size: 6vw;
  font-weight: 500;
  line-height: 7vw;
  margin-right: 15vw;
}

.home .home-text h1{
    color:white;
    font-size: 7vw;
    font-weight: 900;
    font-family: var(--font-family-title);
    line-height: 8vw;
    margin: auto;
}

.home .home-text p{
	margin:0;
	overflow: hidden;
}

.home .home-text p span{
    font-family: var(--font-family-title);
    font-size: 7vw;
    font-weight: 500;
    line-height: 7vw;
    color:white;
    font-weight: 900;
    display: inline-block;
    display: none;
}

.get-it{
    color: var(--color-blue);
}

.home .home-text p span.text-in{
	display: block;
	animation: textIn .5s ease;
}

.home .home-text p span.text-out{
	animation: textOut .5s ease;
}

span .animate-span{
    color:var(--color-black);
}

@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}

@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}

/*-----SERVICES-----*/

.background-grid{
    background-color: #4a80c11f;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 5vw;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    position: relative;
    justify-content: center;
    align-content: center;
}

.card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background:linear-gradient(rgba(0,0,0,0.5) #0071bb);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    border: none;
    border: #181818;
    transition: all .1s ease-in;
    border: #181818;
}

.card:hover {
    top: -2px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.344);
}

.card .thumb {
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
}

.main-title-card{
    font-family: var(--font-family-text);
    font-size: 5vw !important;
    background-color: transparent;
    margin: 0;
    color: white;
    line-height: 4.5vw;
    margin-top: -9vw;
    margin-left: 3vw;
}

.flex-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-shrink: 1;
    position: relative;
    bottom: 3vw;
    left: 18vw;
}

@media only screen and (max-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }  
    .item-1 {
    grid-column: 1/ span 3;
    }
    .item-1 h1 {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }  
    .item-1 {
    grid-column: 1/ span 3;
    }
    .item-1 h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

/*-----CONTACT-----*/

#contact {
  width: 100%;
  height: 100%;
}

.main-contact{
  display: flex;
  flex-direction: row;
  padding-bottom: 20vw;
}

.text-contact{
  background-color: rgb(255, 255, 255);
  padding-right: 10vw;
  padding-top: 1vh;
  padding-left: 1%;
  position: relative;
  width: 50vw;
  height: 45vh;
  left:3vw;
  top: 11vh;
  z-index: 2;
}

.text-container{
  margin-left: 12vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.section-header {
  text-align: start;
  margin: 0 auto;
  padding: 40px 0;
  font-family: var(--font-family-title);
  font-size: 8vh;
  color: var(--color-black3);
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 2vw;
}


.contact-p{
  font-family: var(--font-family-text);
  font-size: 2.1vh;
  line-height: 28px;
  padding-right: 5vw;
  text-align:start;
  margin-left: 1%;
  width: 34vw;
}

/*text efect*/

p a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}
p a svg {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--color-lightblue2));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}
p a:hover {
  --spacing: 0px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}
/*------*/

.contact-img{
  width: 70vw;
  height: 70vh;
  position: absolute;
  top: 13vh;
  bottom: 0;
  right: 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 940px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: var(--font-family-text);
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  border-color: #000;
  letter-spacing: 1px;
  margin-bottom: 1.5vw;
  border-width: 0 0 2px 0;
  resize: none;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  margin-bottom: 7vw;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: var(--color-lightblue2);
  border-color: rgb(13, 110, 253);
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: rgb(96, 95, 95);;
}

.contact-text {
  font-family: var(--font-family-text);
  font-size: 0.8vw;
  letter-spacing: 1.9px;
  color: rgb(96, 95, 95);
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: rgb(126, 126, 126);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: var(--color-lightblue);
  text-decoration: none;
}


hr{
  border: 1px solid;
  background-color:  var(--color-lightblue2);
  border-color:  var(--color-lightblue2);
  border-radius: 1vw;
  opacity: 20;
}

.g-recaptcha{
    margin-top: 1vw;
}

.rc-anchor-normal{
  max-width: 400px;
}

/*scroll down*/

.container-cont{
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -5%;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 5%;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: var(--color-blue);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/*----------MEDIA QUERYS----------*/

@media screen and (max-width: 410px) {
    .send-button {
    width: 99%;
    }
}

@media screen and (max-width: 600px){
    .nav-item a{
        font-size: 5vw;
    }
    .pic{
      background: url(../assets/img/index-background-mobile.png) ;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 110vh;
  }
    .home .home-text h1{
      font-size: 11.5vw;
      line-height: 7vh;
    }
    .home .home-text p span{
      font-size: 11.5vw;
      line-height: 7vh;
    }
    .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
        }  
    .form-control, textarea {
    
    margin: 0 auto;
    }
    
    .name, .email, textarea {
    width: 280px;
    } 
    
    .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
    }  
    .contact-img{
      width: 100%;
      height: 40%;
      position: absolute;
      top: 10vh;
      bottom: 0;
      right: 0;
    }
    /* .contact-img{
      width: 100%;
      position: absolute;
      background-size: cover !important;
      top: 13vh;
      bottom: 0;
      right: 0;
    } */
    .text-contact{
      width: 90vw;
      height: 32vh;
      left:0vw;
    }
    .section-header{
      font-size: 4.5vh;
      margin-bottom:1vh;
    }
    .contact-p{
      font-size: 1.5vh;
      width:70vw;
    }
    p a svg {
      width: 55px;
    }
    .container-cont{
      margin-top: 10vh;
      margin-bottom: 10vh;
    }
    .form-horizontal{
      margin-left: 5%;
    }
    .form-control, textarea {
      max-width: 300px;
      }
}

@media screen and (min-width: 650px) and (max-width:1000px){
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        }
        .direct-contact-container, .form-horizontal {
        margin: 0 auto;
        }  
        
        .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
        }    
}

@media screen 
    and (min-width: 1010px)
    and (max-width: 1200px) 
    and (max-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
    .nav-item a{
        font-size: 2.5vw;
    }
}


/* Begin Media Queries CONTACT*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
    display: flex;
    flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
    margin: 0 auto;
    }  
    
    .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
    }    
}

@media screen and (max-width: 569px) {

    .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
    }  
    .form-control, textarea {
    
    margin: 0 auto;
    }
    
    .name, .email, textarea {
    width: 280px;
    } 
    
    .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
    }  
    
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}


/*-----FOOTER-----*/

footer{
  margin: auto;
  padding: 2vw;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

footer p{
  color: var(--color-black2);
  text-align: center;
  margin: auto;
  width: 50%;
}

/* 
.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style:none;
}
::-webkit-scrollbar{
    display: none;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide{
    width: 100vw;
    height: 100vh;
}
.one{
    background-color: #0071bb;
}
.two{
    background-color: #16b4f0;
}
.three{
    background-color: #181818;
}
.four{
    background-color: #23272a;
} */

/**/

