*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}

/*-----VARIABLES-----*/

:root {
    --main-padding: 20.6vw 5vw;
    --color-black: #23272a; 
    --color-black2: #181818;
    --color-black3: #191919;
    --color-blue:#0071bb;
    --color-lightblue:#2cbbf2;
    --color-lightblue2:#16b4f0;
    --font-family-title: 'Montserrat', sans-serif;
    --font-family-subtitle: 'Fira Sans', sans-serif;
    --font-family-text: 'Hind Madurai', sans-serif;
    --primary: #275EFE;
    --primary-light: #7699FF;
    --dark: #1C212E;
    --grey-dark: #3F4656;
    --grey: #6C7486;
    --grey-light: #CDD9ED;
    --white: #FFF;
    --green: #16BF78;
    --sand: #DCB773;
    --sand-light: #EDD9A9;
}

/*-----PRELOADERS-----*/

#preloader{ /*index*/
    background:white url(../assets/img/preloaders/preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#preloader-2{ /*kitted*/
    background:white url(../assets/img/preloaders/kitted.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#preloader-3{ /*contact*/
    background:white url(../assets/img/preloaders/contact-preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#preloader-4{ /*wiped*/
    background:white url(../assets/img/preloaders/wiped-preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#preloader-5{ /*warehoused*/
    background:white url(../assets/img/preloaders/warehoused-preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*-----NAVBAR-----*/

.navbar{
    font-family:var(--font-family-text);
    font-size: 1.2vw;
    letter-spacing: 2.5px;
    margin: 1.6vw;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--color-black2);
}

.container-fluid.d-lg-flex{
    background-color: rgba(255, 255, 255, 0.088);
    padding: 0.7vw;
    border-radius: 2em;
}

.logo{
    width: 10vw;
}

/*-----INDEX-----*/

.pic{
    background: url(../assets/img/prueba2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
}

.container{
    max-width: 80vw;
    width: 100%;
    margin:auto;
}

.home{
height: 90vh;
background-size: cover;
background-position: center;
display: flex;
flex-wrap: wrap;
position: relative;
}
.home::before{
content: '';
position: absolute;
left:0;
top:0;
width: 100%;
height: 100%;
z-index: 1;
}

.home .home-text{
position: relative;
z-index: 2;
font-family: var(--font-family-title);
font-size: 6vw;
font-weight: 500;
line-height: 7vw;
margin-right: 15vw;
}

.home .home-text h1{
	color:white;
	font-size: 6vw;
	font-weight: 900;
    font-family: var(--font-family-title);
    line-height: 7vw;
}

.home .home-text p{
	margin:0;
	overflow: hidden;
}

.home .home-text p span{
    font-family: var(--font-family-title);
    font-size: 6vw;
    font-weight: 500;
    line-height: 7vw;
    color:white;
    font-weight: 900;
    display: inline-block;
    display: none;
}

.get-it{
    color: var(--color-blue);
}

.home .home-text p span.text-in{
	display: block;
	animation: textIn .5s ease;
}

.home .home-text p span.text-out{
	animation: textOut .5s ease;
}

span .animate-span{
    color:var(--color-black);
}

@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}

@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}

/*-----SERVICES-----*/

.background-grid{
    background-color: #4a80c11f;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 5vw;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    position: relative;
    justify-content: center;
    align-content: center;
}

.card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #4a7fc1;
    position: relative;
    top: 0;
    border: none;
    border: #181818;
    transition: all .1s ease-in;
    border: #181818;
}

.card:hover {
    top: -2px;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.582);
}

.card .thumb {
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
}

.main-title-card{
    font-family: var(--font-family-text);
    font-size: 3vw !important;
    background-color: transparent;
    margin: 0;
    color: white;
    line-height: 3vw;
    margin-top: -9vw;
    margin-left: 3vw;
}

.flex-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-shrink: 1;
    position: relative;
    bottom: 3vw;
    left: 18vw;
}

@media only screen and (max-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }  
    .item-1 {
    grid-column: 1/ span 3;
    }
    .item-1 h1 {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }  
    .item-1 {
    grid-column: 1/ span 3;
    }
    .item-1 h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

/*-----CONTACT-----*/

.body-contact {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

#contact {
    width: 100%;
    height: 100%;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font-family: var(--font-family-title);
    font-size: 4vw;
    color: var(--color-black);
    text-transform: uppercase;
    letter-spacing: 0.5vw;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
.form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: var(--font-family-text);
    font-weight: 400;
}

.form-control, 
textarea {
    max-width: 400px;
    background-color:#fff;
    color: var(--color-black2);
    letter-spacing: 1px;
    margin-top: 1vw;
    resize: none;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
    color: white;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: var(--color-black);
    text-decoration: none;
}


hr {
    border-color: rgba(0, 0, 0, 0.6);
}

.g-recaptcha{
    margin-top: 1vw;
}

/*-----MEDIA QUERYS-----*/

@media screen and (max-width: 410px) {
    .send-button {
    width: 99%;
    }
}

@media screen and (max-width: 600px){
    .nav-item a{
        font-size: 5vw;
    }
    .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
        }  
    .form-control, textarea {
    
    margin: 0 auto;
    }
    
    .name, .email, textarea {
    width: 280px;
    } 
    
    .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
    }  
    
}

@media screen and (min-width: 650px) and (max-width:1000px){
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        }
        .direct-contact-container, .form-horizontal {
        margin: 0 auto;
        }  
        
        .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
        }    
}

@media screen 
    and (min-width: 1010px)
    and (max-width: 1200px) 
    and (max-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
    .nav-item a{
        font-size: 2.5vw;
    }
}


/* Begin Media Queries CONTACT*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
    display: flex;
    flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
    margin: 0 auto;
    }  
    
    .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
    }    
}

@media screen and (max-width: 569px) {

    .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
    }  
    .form-control, textarea {
    
    margin: 0 auto;
    }
    
    .name, .email, textarea {
    width: 280px;
    } 
    
    .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
    }  
    
}

/*-----FOOTER-----*/

footer{
    padding: 2vw;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

footer p{
    color: var(--color-black2);
    text-align: center;
}



/* 
.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style:none;
}
::-webkit-scrollbar{
    display: none;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide{
    width: 100vw;
    height: 100vh;
}
.one{
    background-color: #0071bb;
}
.two{
    background-color: #16b4f0;
}
.three{
    background-color: #181818;
}
.four{
    background-color: #23272a;
} */

/**/
  
  .order {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: var(--dark);
    position: relative;
    height: 63px;
    width: 240px;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-radius: 32px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .order span {
    --o: 1;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 19px;
    line-height: 24px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    opacity: var(--o);
    transition: opacity 0.3s ease;
  }
  .order span.default {
    transition-delay: 0.3s;
  }
  .order span.success {
    --offset: 16px;
    --o: 0;
  }
  .order span.success svg {
    width: 12px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 7px 0 0 4px;
    stroke: var(--green);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--offset);
    transition: stroke-dashoffset 0.3s ease;
  }
  .order:active {
    transform: scale(0.96);
  }
  .order .lines {
    opacity: 0;
    position: absolute;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    width: 6px;
    top: 30px;
    left: 100%;
    box-shadow: 15px 0 0 var(--white), 30px 0 0 var(--white), 45px 0 0 var(--white), 60px 0 0 var(--white), 75px 0 0 var(--white), 90px 0 0 var(--white), 105px 0 0 var(--white), 120px 0 0 var(--white), 135px 0 0 var(--white), 150px 0 0 var(--white), 165px 0 0 var(--white), 180px 0 0 var(--white), 195px 0 0 var(--white), 210px 0 0 var(--white), 225px 0 0 var(--white), 240px 0 0 var(--white), 255px 0 0 var(--white), 270px 0 0 var(--white), 285px 0 0 var(--white), 300px 0 0 var(--white), 315px 0 0 var(--white), 330px 0 0 var(--white);
  }
  .order .back,
  .order .box {
    --start: var(--white);
    --stop: var(--grey-light);
    border-radius: 2px;
    background: linear-gradient(var(--start), var(--stop));
    position: absolute;
  }
  .order .truck {
    width: 60px;
    height: 41px;
    left: 100%;
    z-index: 1;
    top: 11px;
    position: absolute;
    transform: translateX(24px);
  }
  .order .truck:before, .order .truck:after {
    --r: -90deg;
    content: "";
    height: 2px;
    width: 20px;
    right: 58px;
    position: absolute;
    display: block;
    background: var(--white);
    border-radius: 1px;
    transform-origin: 100% 50%;
    transform: rotate(var(--r));
  }
  .order .truck:before {
    top: 4px;
  }
  .order .truck:after {
    --r: 90deg;
    bottom: 4px;
  }
  .order .truck .back {
    left: 0;
    top: 0;
    width: 60px;
    height: 41px;
    z-index: 1;
  }
  .order .truck .front {
    overflow: hidden;
    position: absolute;
    border-radius: 2px 9px 9px 2px;
    width: 26px;
    height: 41px;
    left: 60px;
  }
  .order .truck .front:before, .order .truck .front:after {
    content: "";
    position: absolute;
    display: block;
  }
  .order .truck .front:before {
    height: 13px;
    width: 2px;
    left: 0;
    top: 14px;
    background: linear-gradient(var(--grey), var(--grey-dark));
  }
  .order .truck .front:after {
    border-radius: 2px 9px 9px 2px;
    background: var(--primary);
    width: 24px;
    height: 41px;
    right: 0;
  }
  .order .truck .front .window {
    overflow: hidden;
    border-radius: 2px 8px 8px 2px;
    background: var(--primary-light);
    transform: perspective(4px) rotateY(3deg);
    width: 22px;
    height: 41px;
    position: absolute;
    left: 2px;
    top: 0;
    z-index: 1;
    transform-origin: 0 50%;
  }
  .order .truck .front .window:before, .order .truck .front .window:after {
    content: "";
    position: absolute;
    right: 0;
  }
  .order .truck .front .window:before {
    top: 0;
    bottom: 0;
    width: 14px;
    background: var(--dark);
  }
  .order .truck .front .window:after {
    width: 14px;
    top: 7px;
    height: 4px;
    position: absolute;
    background: rgba(255, 255, 255, 0.14);
    transform: skewY(14deg);
    box-shadow: 0 7px 0 rgba(255, 255, 255, 0.14);
  }
  .order .truck .light {
    width: 3px;
    height: 8px;
    left: 83px;
    transform-origin: 100% 50%;
    position: absolute;
    border-radius: 2px;
    transform: scaleX(0.8);
    background: #f0dc5f;
  }
  .order .truck .light:before {
    content: "";
    height: 4px;
    width: 7px;
    opacity: 0;
    transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
    position: absolute;
    transform-origin: 0 50%;
    left: 3px;
    top: 50%;
    margin-top: -2px;
    background: linear-gradient(90deg, #f0dc5f, rgba(240, 220, 95, 0.7), rgba(240, 220, 95, 0));
  }
  .order .truck .light.top {
    top: 4px;
  }
  .order .truck .light.bottom {
    bottom: 4px;
  }
  .order .box {
    --start: var(--sand-light);
    --stop: var(--sand);
    width: 21px;
    height: 21px;
    right: 100%;
    top: 21px;
  }
  .order .box:before, .order .box:after {
    content: "";
    top: 10px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .order .box:before {
    height: 3px;
    margin-top: -1px;
    background: rgba(0, 0, 0, 0.1);
  }
  .order .box:after {
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
  }
  .order.animate .default {
    --o: 0;
    transition-delay: 0s;
  }
  .order.animate .success {
    --offset: 0;
    --o: 1;
    transition-delay: 7s;
  }
  .order.animate .success svg {
    transition-delay: 7.3s;
  }
  .order.animate .truck {
    -webkit-animation: truck 10s ease forwards;
            animation: truck 10s ease forwards;
  }
  .order.animate .truck:before {
    -webkit-animation: door1 2.4s ease forwards 0.3s;
            animation: door1 2.4s ease forwards 0.3s;
  }
  .order.animate .truck:after {
    -webkit-animation: door2 2.4s ease forwards 0.6s;
            animation: door2 2.4s ease forwards 0.6s;
  }
  .order.animate .truck .light:before, .order.animate .truck .light:after {
    -webkit-animation: light 10s ease forwards;
            animation: light 10s ease forwards;
  }
  .order.animate .box {
    -webkit-animation: box 10s ease forwards;
            animation: box 10s ease forwards;
  }
  .order.animate .lines {
    -webkit-animation: lines 10s ease forwards;
            animation: lines 10s ease forwards;
  }
  
  @-webkit-keyframes truck {
    10%, 30% {
      transform: translateX(-164px);
    }
    40% {
      transform: translateX(-104px);
    }
    60% {
      transform: translateX(-224px);
    }
    75%, 100% {
      transform: translateX(24px);
    }
  }
  
  @keyframes truck {
    10%, 30% {
      transform: translateX(-164px);
    }
    40% {
      transform: translateX(-104px);
    }
    60% {
      transform: translateX(-224px);
    }
    75%, 100% {
      transform: translateX(24px);
    }
  }
  @-webkit-keyframes lines {
    0%, 30% {
      opacity: 0;
      transform: scaleY(0.7) translateX(0);
    }
    35%, 65% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      transform: scaleY(0.7) translateX(-400px);
    }
  }
  @keyframes lines {
    0%, 30% {
      opacity: 0;
      transform: scaleY(0.7) translateX(0);
    }
    35%, 65% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      transform: scaleY(0.7) translateX(-400px);
    }
  }
  @-webkit-keyframes light {
    0%, 30% {
      opacity: 0;
      transform: perspective(2px) rotateY(-15deg) scaleX(0.88);
    }
    40%, 100% {
      opacity: 1;
      transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
    }
  }
  @keyframes light {
    0%, 30% {
      opacity: 0;
      transform: perspective(2px) rotateY(-15deg) scaleX(0.88);
    }
    40%, 100% {
      opacity: 1;
      transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
    }
  }
  @-webkit-keyframes door1 {
    30%, 50% {
      transform: rotate(32deg);
    }
  }
  @keyframes door1 {
    30%, 50% {
      transform: rotate(32deg);
    }
  }
  @-webkit-keyframes door2 {
    30%, 50% {
      transform: rotate(-32deg);
    }
  }
  @keyframes door2 {
    30%, 50% {
      transform: rotate(-32deg);
    }
  }
  @-webkit-keyframes box {
    8%, 10% {
      transform: translateX(40px);
      opacity: 1;
    }
    25% {
      transform: translateX(112px);
      opacity: 1;
    }
    26% {
      transform: translateX(112px);
      opacity: 0;
    }
    27%, 100% {
      transform: translateX(0px);
      opacity: 0;
    }
  }
  @keyframes box {
    8%, 10% {
      transform: translateX(40px);
      opacity: 1;
    }
    25% {
      transform: translateX(112px);
      opacity: 1;
    }
    26% {
      transform: translateX(112px);
      opacity: 0;
    }
    27%, 100% {
      transform: translateX(0px);
      opacity: 0;
    }
  }
